html {
	box-sizing: border-box;
	font-size: $global-font-size;
}

*, *:after, *:before {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	background: $primary-color;
	font-size: rem-calc(14);
}
