$primary-color: #010411; 
$secondary-color: #ebedf4;
$medium-gray: #aaa9a5;
$white: #fefefe;
$black: #010411;

$global-font-size: 16px;
$font-family: 'Merriweather', serif;
$font-weight-light: 300;
$font-weight-bold: 700;
